<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<head>
	<title>FamyWiki</title>
</head>
<body>
<div class="recherche_p">

<!--<form action="/search" id="searchthis" method="get">-->
<!--<input id="search" name="q" type="text" placeholder="Rechercher" />-->
<!--<input id="search-btn" type="submit" value="ok" />-->

<!--</form>-->



<form  method="post">

        <label for="theme"> Thème :</label>
        <input type="text" id="theme" name="theme">

        <label for="motcle"> Mot-clé :</label>
        <input type="text" id="motcle" name="motcle">
		<input id="search-btn" type="submit" value="ok" />

</form>
    <p>
    {% if src == "ok" %}
      <ul>
        {% for l in data %}
        <li>{{l.thème}}</li>
        <li>{{l.auteur}}</li>
        <li>{{l.thème}}</li>
        {% endfor %}
      </ul>
{% endif %}
    </p>




    <!--<h1>FORMULAIRE</h1>-->

<!--<form  method="post">-->
    <!--&lt;!&ndash;action="/ma-page-de-traitement"&ndash;&gt;-->
    <!--<div>-->
        <!--<label for="name">Nom :</label>-->
        <!--<input type="text" name="user_name" autofocus>-->
    <!--</div>-->
    <!--<div>-->
        <!--<label for="prenom">Prénom :</label>-->
        <!--<input type="text" id="prenom" name="user_prenom">-->
    <!--</div>-->
    <!--<input type="submit" value="Valider">-->
<!--</form>-->



	<!--<form  method="post">-->
    <!--&lt;!&ndash;action="/ma-page-de-traitement"&ndash;&gt;-->
    <!--<div>-->
        <!--<label for="name">Nom :</label>-->
        <!--<input type="text" name="user_name" autofocus>-->
    <!--</div>-->
    <!--<div>-->
        <!--<label for="prenom">Prénom :</label>-->
        <!--<input type="text" id="prenom" name="user_prenom">-->
    <!--</div>-->
    <!--<input type="submit" value="Valider">-->
<!--</form>-->


</div>
</body>
</html>